@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-shogun-red: #e03a21;
  --color-shogun-black: #111111;
}

body {
  @apply bg-white text-shogun-black antialiased;
}
